.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-text {
  font-family: "Playfair Display";
}

.linkedin {
  font-family: "Playfair Display";
  margin-right: 20px; /* Adjust as needed */
}
