.footer-text {
  color: black;
  text-decoration: none;
  margin: 0;
  font-size: 2.5vh;
  font-family: "Playfair Display";
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 2vh;
  }
}
