@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
    color: transparent; /* Start with transparent text */
  }
  1% {
    color: black; /* Change the color to black when the animation starts */
  }
  to {
    width: 100%;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  animation:
    typewriter 2.5s steps(85, end) 2.5s,
    blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards; /* Keeps the styles declared in the 100% keyframe after the animation ends */
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  animation:
    typewriter 2.5s steps(85, end) 2.5s,
    blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards; /* Keeps the styles declared in the 100% keyframe after the animation ends */
}

.typewriter-delayed p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typewriter 2.5s steps(85, end) 3.2s,
    blink-caret 0.75s step-end infinite;
}

.typewriter-delayed p {
  width: 0;
  animation:
    typewriter 3s steps(85, end) 3.2s forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.letter {
  display: inline-block;
  animation: wave 1s linear infinite;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.letter {
  display: inline-block;
  animation: slide-up 0.6s forwards;
  opacity: 0;
}

.card-image {
  filter: brightness(0.75);
  transition: filter 0.3s ease-in-out;
}

.card-image:hover {
  filter: brightness(1);
}

body,
html {
  overflow-x: hidden;
}

.gray-box {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Adjust width as needed */
  height: 70vh;
  background-color: #f0f0f0;
  border-radius: 10px;
}

@media (max-width: 414px) {
  /* iPhone XR width */
  .typewriter h1 {
    font-size: 6vh; /* Adjust the font size for the heading */
  }

  .typewriter-delayed p {
    font-size: 2vh; /* Adjust the font size for the paragraph */
  }
}
