.section-title {
  font-family: "Playfair Display";
  font-size: 2.1vh;
  text-align: center; /* Align the text to the left */
}

.section-title2 {
  font-family: "Playfair Display";
  font-size: 2.1vh;
  text-align: center; /* Align the text to the left */
}

@media only screen and (max-device-width: 414px) {
  .section-title,
  .section-title2 {
    text-align: center; /* Align the text to the center for iPhones */
  }
}

/**   STOP **/

.monash-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vh;
  margin-left: 4.5vh;
}

.dwell-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vh;
  margin-left: 0vh;
}

.dwell-logo {
  height: 13vh;
  width: auto;
}

.logo {
  height: 10.2vh;
  width: auto;
  margin: 0.5rem;
  opacity: 0.8;
  filter: brightness(85%);
  transition:
    opacity 0.3s ease,
    filter 0.3s ease,
    transform 0.8s ease;
}

@media only screen and (max-width: 414px) {
  .logo {
    height: 6vh; /* Adjust the size as needed */
  }
}

.logo:hover {
  opacity: 1;
  filter: brightness(100%);
  transform: rotate(360deg);
}

.logo:hover {
  opacity: 1;
  filter: brightness(100%);
  transform: rotate(360deg);
}

.monash-logo {
  height: 9.6vh;
  width: auto;
}

.logo2 {
  height: 8vh;
  width: auto;
  margin: 0.5rem;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
}

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
